#content 
  
  
  .page
    padding-right: 0 !important
  
    &.drop_hover
      background-color: #F9F9F9
  
    &.drop_insert
      background-color: #DFEBFF
      
    &.drag_move
      .children
        opacity: 0.25
        
    .add_child, .remove
      position: absolute
    
    .remove
      right: 0
      
    .add_child
      right: 100px
  
    &.children_visible
      .children
        li
          display: block
    &.children_hidden
      .children
        li
          display: none
        
  .children
    margin-left: 15px

.handle
  width: 24px

  img
    cursor: move