#content 
  
  .page
  
    .add_child, .remove
      position: absolute
    
    .remove
      right: 0
      
    .add_child
      right: 100px
  
    &.children_visible
      .kids
        li
          display: block
    &.children_hidden
      .kids
        li
          display: none
          
    &.move
      .kids
        display: none
        
  .kids
    min-height: 5px
    margin-left: 15px

.handle
  width: 24px

  img
    cursor: move