.index#pages
  
  .page
    
    &.drop_hover
      background-color: #FBFBFB
      border-color: transparent
      
      li
        border-color: transparent
  
    &.drop_insert
      background-color: #F6F8FF
      border-color: transparent
      
      li
        border-color: transparent
      
    &.drag_move
      .children
        opacity: 0.25
    
    .attributes
    
      .attribute
      
        &.handle
          position: absolute
          cursor: move
          left: 9px
          width: 24px

          img
            cursor: move

.inset
  .handle
    display: none